body{
    
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
    
}
.fir{
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* overflow: hidden; */
  left: 0;
  z-index: 100;
}
img{
    width: auto\9;
    width: 100%;
    height:auto;
    display: table;
    background-size: cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-position: center 0;

}
.bufront{

    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0vh;
    left: 0vw;
    opacity: 0.5;
    z-index: 3;
}
.buafter{
    
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0vh;
    left: 0vw;
    opacity: 0.7;
    z-index: 1;
    /* animation: shanglai 2.1s forwards; */
    /* animation: .5s linear 1s infinite alternate slidein; */
}
.bumid{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0vh;
  left: 0vw;
  opacity: 1;
  z-index: 10;
}
.intro1{

  height: 598.08px;
  width: 291.2px; 
  position: absolute;
  left: 80px;
  top: 44px;
  z-index: 883;
   
}
.intro2{
  width: 267.6px;
  height: 544.8px;
  position: absolute;
  left: 450px;
  top: 100px;
  z-index: 888;
}
.intro3{
  width: 256.2px;
  height: 424.8px;
  position: absolute;
  left: 500px;
  top: 300px;
  z-index: 900;
}

.note{
  width:294.144px;
  height: 38.4px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 1000;
}